<footer class="footer footer-transparent d-print-none mt-auto">
    <div class="container-xl">
        <div class="row text-center">
            <div class="col-12 text-center">
                <ul class="list-inline list-inline-dots mb-0 justify-content-center">
                    <li class="list-inline-item">
                        Copyright &copy; 2025
                        <a href="." class="link-secondary">ProcureHub</a>
                    </li>
                    <li class="list-inline-item">
                        v1.0.0 </li>
                </ul>
            </div>
        </div>
    </div>
</footer>