    <div class="page">
        <div class="container-xl mt-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="page-title">Gestione Utenti</h2>
                <a href="aggiungiUtente" class="btn btn-success">Aggiungi Utente</a>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <div class="card w-75">
                    <div class="card-body">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Tipologia</th>
                                    <th>Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                <#list utenti as utente>
                                    <tr>
                                        <td>${utente.username}</td>
                                        <td>${utente.email}</td>
                                        <td>${utente.tipologiaUtente}</td>
                                        <td>
                                            <a href="homeAdmin?action=delete&id=${utente.id}" class="btn btn-danger btn-sm">Elimina</a>
                                        </td>
                                    </tr>
                                </#list>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
